<h1>Eat-Da-Burger!</h1>

<h2>To Be Devoured</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
    <li>
      <p>{{burger_name}}</p>
    </li>
  {{/unless}}
  {{/each}}
</ul>

<h2>Devoured!</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
    <li>
      <p>{{burger_name}}</p>
    </li>
  {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form>
  <div>
    <label for="burgerName">Name</label>
    <input type="text" id="burgerName" name="burgerName">
    <button type="submit">Add</button>
  </div>
</form>
